/* reset CSS 넣자 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  /* 스크롤 생기는거 방지 */
  overflow: hidden;
  position: relative;
}
section img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  /* z-index: 10; */
}
.target-hole {
  /* width: 25;
  height: 50px;
  top: 0;
  left: 0;
  border: 2px solid white;

  z-index: 1; */
}

/* 블랙홀 가장 작은 부분 찾기 */
.part-1 {
  position: absolute;
  border: 2px solid white;
  width: 25%;
  height: 30%;
  top: 45%;
  left: 40%;
  /* 양수에 가까워 질수록 x축은 오른쪽으로 가고
  양수에 가까워 질수록 y축은 내려간다 */
  /* transform: translate(-40%, -20%); */
  /* 오른쪽 위 대각선 영역이 걸쳐져있어서 4부분으로 줘서  */
  /* border-radius 수정했따 */
  border-radius: 45% 45% 45% 45%;
  transition: 1s;
  z-index: 10;
  /* transition: all 0.5s linear; */
}
.part-1:hover {
  border: 1px solid red;
  /* z-index: 5; */
  transform: scale(1.1);
}

/* 블랙홀 두번 째로 작은 부분 찾기 */
.part-2 {
  position: absolute;
  width: 45%;
  height: 50%;
  border: 3px solid #fff;
  top: 35%;
  left: 30%;
  /* transform: translate(-40%, -35%); */
  border-radius: 40%;
  z-index: 9;
  transition: 1s;
}
.part-2:hover {
  border: 1px solid red;
  transform: scale(1.1);
}

/* 블랙홀 세번째로 작은 부분 찾기 */
.part-3 {
  position: absolute;
  width: 65%;
  height: 70%;
  border: 4px solid #fff;
  top: 25%;
  left: 20%;
  /* transform: translate(-40%, -35%); */
  border-radius: 40%;
  z-index: 8;
  transition: 1s;
}
.part-3:hover {
  border: 1px solid red;
  transform: scale(1.1);
}

/* 블랙홀 네번째로 작은 부분 찾기 */
.part-4 {
  position: absolute;
  width: 85%;
  height: 90%;
  border: 5px solid #fff;
  top: 10%;
  left: 10%;
  /* transform: translate(-40%, -35%); */
  border-radius: 40%;
  z-index: 7;
  transition: 1s;
}

.part-4:hover {
  border: 1px solid red;
  transform: scale(1.1);
  /* transform: scale(1.3); */
}

/* 더해야할것 scale 줘서 입체감있게 구현하기 */
