* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../1/mypage/img/night-space-sky-stars-nebula-night-sky-71706-wallhere.com.jpg);
  /* width: 100%;
  height: 100vh; */
}

#jh-first .container {
  width: 100%;
  height: 100vh;
  /* height: 30vh; */
  background-image: url(../img/blackhole1.jpg);
  position: relative;
  background-size: cover;
}
#jh-first .container p {
  color: #fff;
}
#jh-first .container .member img {
  /* border: 1px solid white; */
  /* z-index: 1; */
  position: absolute;

  width: 6%;
  height: 12%;
}
#jh-first .container .member .member1 {
  position: absolute;
  left: 0;
  top: 0;
}

#jh-first .container .member .member2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

#jh-first .container .member .member3 {
  position: absolute;
  right: 0;
  top: 0;
}

#jh-first .container .member .member4 {
  position: absolute;
  right: 0;
  bottom: 0;
}
#last {
  width: 100%;
  height: 100vh;
}
header {
  display: flex;
  /* position: relative; */
  height: 5vw;
  /* padding: 1px; */
  width: 100%;
  /* height: 1%; */
  background-color: rgb(46, 154, 139);
  color: white;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
}
header .logo {
  /* position: absolute; */
  margin-left: 2%;
}
/* header .logo img {
  width: 100px;
  border-radius: 20%;
 
} */
header .intro {
  margin-left: 5%;
  font-size: 2vw;
}

header .sns {
  margin-right: 2%;
  font-size: 2vw;
}

header .sns > a {
  color: white;
}
header .sns > a:hover {
  color: rgb(94, 180, 233);
}
.concept {
  /* border: 1px solid #000; */
  width: 100%;
  height: 5vw;
  /* border: 1px solid #eee; */
  /* background-color: yellow */
  /* display: inline-block; */
  /* border-bottom: 1px solid #000; */
  margin-bottom: 5vw;

  /* margin-bottom: 1px solid black; */
  text-align: center;
  align-items: center;
  font-size: 2vw;
  line-height: 5vw;
  background-color: #fff;
}
#jh-second {
  width: 50%;
  /* height: 100vh; */
  /* border: 2px solid yellow; */
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

#jh-second .container {
  width: 100%;
  height: 165vh;
  /* border: 1px solid red; */
  /* border: 1px solid #000; */
  position: relative;
}

#soundtrack a #text {
  color: white;
}
#jh-second .container #title {
  font-size: 2vw;
  padding: 2vw;
  color: black;
  background-color: #fff;
  text-align: center;
  /* background-color: #fff; */
  /* border: 1px solid #000; */
}
#jh-second .container .mv-img {
  width: 100%;
}
#jh-second .container .mv-img img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

#jh-second .container #director {
  display: flex;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  /* justify-content: space-between; */
  background-color: #fff;
}

#jh-second .container #actor {
  display: flex;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
#jh-second .container #genre {
  display: flex;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
#jh-second .container #time {
  display: flex;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
#jh-second .container #rating {
  display: flex;
  padding: 1vw;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

#jh-second .container #soundtrack {
  display: flex;
  padding: 1vw;
  background-color: #fff;
}
#jh-second .container #soundtrack span {
  margin-right: 1vw;
  /* border: 1px solid #000; */
}

#jh-second .container #soundtrack i {
  /* border: 1px solid #000; */
  /* align-items: center;
  text-align: center; */
  margin: auto 0;
}

#jh-second .container p {
  margin-left: 1vw;
}

#jh-third {
  /* border: 1px solid #000; */
  display: flex;
  position: relative;
  width: 100%;
  /* padding: 2vw; */
  font-size: 2vw;
  /* border: 1px solid black; */
  /* justify-content: center; */
  justify-content: space-between;
  /* background-color: #fff; */
}

#jh-third .btns {
  color: black;
  margin-top: 1vw;
  width: 100%;
  display: flex;
  position: absolute;
  font-size: 2vw;
  /* border: 1px solid #000; */
  justify-content: space-between;
  /* left: 45%; */
  /* translate: (-50%, 0); */
  /* justify-content: center; */
}

#jh-third .btns i {
  cursor: pointer;
  color: white;
}

#jh-third nav .btns a {
  color: white;
}
#soundtrack a {
  color: black;
  text-decoration: none;
}
