/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* font-family: 'Ubuntu', sans-serif; */

@import "flag";
// @import "reset";

// /* Common */
figure {
  font: 16px "Ubuntu";
  overflow: hidden;
}

/* UI */
figure {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(25deg, rgb(73, 95, 113), rgba(0, 86, 132, 0.5));

  h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    font-size: 0px;

    strong {
      font-size: 50px;
      color: white;
      letter-spacing: 2px;
    }

    span {
      font-size: 20px;
      color: white;
      opacity: 0.8;
      letter-spacing: 2px;
    }
  }

  @import "panel";
  @import "btns";

  > p {
    position: absolute;
    bottom: 7vh;
    color: white;
    font-size: 20px;

    // 가운데 정렬
    left: 50%;
    transform: translate(-50%, 0);
  }
}
