@import url("https://fonts.googleapis.com/css?family=Corben:700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 2000vw;
}

.bg {
  background-image: radial-gradient(50% 176%, #000000 80%, #061922 100%);
  min-height: 2000vw;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}
.bg__content {
  position: relative;
  align-self: center;
  padding: 3rem 0;
}

.star {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.star .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#star-top-layer {
  will-change: transform;
  transform: translateY(-10vw);
  animation: fall 40s infinite linear;
}

#star-bottom-layer {
  will-change: transform;
  transform: translateY(-10vw);
  animation: fall 80s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
.container {
  position: absolute;
  top: 3vw;
  left: 10vw;
  width: 80vw;
  height: 2000vw;
}

section.innerbox {
  position: absolute;
  left: 17.3vw;
  width: 42vw;
  height: 42vw;
  background: linear-gradient(130deg, rgb(255, 198, 206), rgb(221, 101, 201));
  border: 5px solid #f8f8f8;
  border-radius: 50%;
}

#intro {
  position: absolute;
  top: 5vw;
  left: 10vw;
}

.cls-1 {
  stroke: white;
  stroke-miterlimit: 10;
  stroke-width: 1px;
}

.lee #logo {
  width: 16.8vw;
  height: 10vw;
  fill: none;
  animation: fills 0.5s ease forwards 3.9s;
}

.chae #logo {
  width: 20;
  height: 10vw;
  fill: none;
  animation: fills 0.5s ease forwards 7s;
}

.yul #logo {
  width: 19vw;
  height: 10vw;
  fill: none;
  animation: fills 0.5s ease forwards 9.6s;
}

#intro .lee #logo path:nth-child(1) {
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
  animation: path 1s ease forwards 2s;
}

#intro .lee #logo path:nth-child(2) {
  stroke-dasharray: 223px;
  stroke-dashoffset: 223px;
  animation: path 1s ease forwards 2.8s;
}

#intro .lee #logo path:nth-child(3) {
  stroke-dasharray: 223px;
  stroke-dashoffset: 223px;
  animation: path 1s ease forwards 3.4s;
}

#intro .chae #logo path:nth-child(1) {
  stroke-dasharray: 323px;
  stroke-dashoffset: 323px;
  animation: path 1s ease forwards 4.2s;
}

#intro .chae #logo path:nth-child(2) {
  stroke-dasharray: 341px;
  stroke-dashoffset: 341px;
  animation: path 1s ease forwards 5s;
}

#intro .chae #logo path:nth-child(3) {
  stroke-dasharray: 273px;
  stroke-dashoffset: 273px;
  animation: path 1s ease forwards 5.9s;
}

#intro .chae #logo path:nth-child(4) {
  stroke-dasharray: 223px;
  stroke-dashoffset: 223px;
  animation: path 1s ease forwards 6.5s;
}

#intro .yul #logo path:nth-child(1) {
  stroke-dasharray: 352px;
  stroke-dashoffset: 352px;
  animation: path 1s ease forwards 7.3s;
}

#intro .yul #logo path:nth-child(2) {
  stroke-dasharray: 294px;
  stroke-dashoffset: 294px;
  animation: path 1s ease forwards 8s;
}

#intro .yul #logo path:nth-child(3) {
  stroke-dasharray: 199px;
  stroke-dashoffset: 199px;
  animation: path 1s ease forwards 8.8s;
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fills {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
.second {
  position: absolute;
  top: 138.7vw;
  left: -17vw;
  width: 80vw;
  height: 480vw;
  background-color: white;
  border: 5px solid #f8f8f8;
  border-radius: 30px;
  font-family: "Noto Sans", sans-serif;
}
.second .red {
  text-align: center;
}
.second .red img:nth-child(1) {
  position: absolute;
  top: 17.3vw;
  left: 0vw;
  border-radius: 30px;
  width: 20vw;
  height: 32.2vw;
  transform-origin: center;
  border-radius: 10px;
  z-index: 2;
  transform: scale(1.2);
}
.second .red img:nth-child(2) {
  position: absolute;
  top: 14.3vw;
  left: 55vw;
  border-radius: 30px;
  width: 10vw;
  height: 18vw;
  transform-origin: center;
  border-radius: 10px;
  z-index: 2;
}
.second .red img:nth-child(3) {
  position: absolute;
  top: 17.3vw;
  left: 30vw;
  border-radius: 30px;
  width: 15vw;
  height: 27vw;
  transform-origin: center;
  border-radius: 10px;
  z-index: 2;
  transform: scale(1.5);
}
.second .red .text {
  font-size: 10vw;
  font-weight: bold;
  text-shadow: -3px -3px 5px lightpink;
  letter-spacing: 1px;
  line-height: 8vw;
  color: rgb(252, 26, 64);
}

.third {
  position: absolute;
  top: 687.1vw;
  left: -17vw;
  width: 80vw;
  height: 94.4vw;
  background-color: rgb(18, 41, 67);
  font-size: 9vw;
  color: rgb(15, 33, 53);
  border: 5px solid #f8f8f8;
  border-radius: 30px;
  text-shadow: 3px 3px 3px rgb(47, 75, 119);
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.01vw;
}
.third .bbaegom1 {
  border-radius: 23px;
  width: 100%;
}
.third h1.from {
  position: absolute;
  top: 22vw;
  left: 2vw;
  letter-spacing: 0.01vw;
}
.third h1.the {
  position: absolute;
  top: 23vw;
  left: 27vw;
  font-size: 3vw;
}
.third h1.birthday {
  position: absolute;
  top: 22vw;
  left: 32vw;
  letter-spacing: 0.01vw;
}
.third #count {
  font-size: 7vw;
  letter-spacing: 0.3px;
  line-height: 5.5vw;
  font-weight: 700;
  position: absolute;
  top: 40vw;
  left: 40vw;
}
.third .bbaegom2 {
  position: absolute;
  width: 27vw;
  top: 30.7vw;
  left: 0.1vw;
}

#fourth {
  position: absolute;
  width: 80vw;
  height: 52.5vw;
  background-color: white;
  top: 1405vw;
  left: -17vw;
  border: 5px solid #f8f8f8;
  border-radius: 30px;
  font-family: "Noto Sans", sans-serif;
}
#fourth .wrap div {
  width: 79.5vw;
  height: 52vw;
  position: absolute;
  top: 0vw;
  opacity: 0;
  border-radius: 23px;
}
#fourth .wrap div img {
  position: absolute;
  left: 30vw;
  top: 8vw;
  border-radius: 2vw;
}
#fourth .wrap .red {
  background-color: #f25c54;
}
#fourth .wrap .orange {
  background-color: #ff8c42;
}
#fourth .wrap .yellow {
  background-color: #f9dc5c;
}
#fourth .wrap .green {
  background-color: #76c893;
}
#fourth .wrap .sky {
  background-color: #90caf9;
}
#fourth .wrap .violet {
  background-color: #e5b3fe;
}
#fourth .wrap .black {
  background-color: #212529;
}
#fourth #btns {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 43vw;
  left: 12.5vw;
  width: 55vw;
  font-size: 2vw;
  cursor: pointer;
  z-index: 999;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}
#fourth #btns .btn {
  width: 5vw;
  height: 5vw;
}
#fourth #btns .btn_orange {
  margin-right: 2.5vw;
}
#fourth #btns .btn_yellow {
  margin-right: 1.5vw;
}

.btn_red {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_red::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 6px;
  background-color: #f25c54;
  transition: all 250ms;
}
.btn_red:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_red:hover::after {
  height: 65%;
  width: 110%;
}

.btn_yellow {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_yellow::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-45%);
  content: "";
  width: 130%;
  height: 6px;
  background-color: #f9dc5c;
  transition: all 250ms;
}
.btn_yellow:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_yellow:hover::after {
  height: 65%;
  width: 130%;
}

.btn_orange {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_orange::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-40%);
  content: "";
  width: 150%;
  height: 6px;
  background-color: #ff8c42;
  transition: all 250ms;
}
.btn_orange:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_orange:hover::after {
  height: 65%;
  width: 150%;
}

.btn_green {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_green::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-47%);
  content: "";
  width: 120%;
  height: 6px;
  background-color: #76c893;
  transition: all 250ms;
}
.btn_green:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_green:hover::after {
  height: 65%;
  width: 120%;
}

.btn_sky {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_sky::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 6px;
  background-color: #90caf9;
  transition: all 250ms;
}
.btn_sky:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_sky:hover::after {
  height: 65%;
  width: 100%;
}

.btn_violet {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_violet::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 130%;
  height: 6px;
  background-color: #e5b3fe;
  transition: all 250ms;
}
.btn_violet:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_violet:hover::after {
  height: 65%;
  width: 130%;
}

.btn_black {
  display: inline-block;
  color: transparent;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}
.btn_black::after {
  position: absolute;
  z-index: -1;
  bottom: 2vw;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 6px;
  background-color: #212529;
  transition: all 250ms;
}
.btn_black:hover {
  color: white;
  text-shadow: 0px 1px 0px rgb(0, 0, 0);
}
.btn_black:hover::after {
  height: 65%;
  width: 110%;
}

/*# sourceMappingURL=main.css.map */
