body {
    background-color: black;
    position: relative;
}
.greensock .intro {
    height: 100vw;
    width: 100%;
    color: white;
    font: 7vw/1.8 "arial";
    // text-align: center;
    top: 0px;
}

.greensock .intro .h1 {
    position: absolute;
    top: 10%;
}

.photo {
    width: 100px;
    height: 100px;
}
