body {
  /* background-color: rgb(10, 10, 10); */
  /* background-image: url(./img/pngegg\\(1\).png); */
  /* background-image: url(./img/pngegg\\(1\).png); */
  background-image: url(./img/pngegg1.png);
  background-color: black;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

.logo {
  z-index: 100;
  /* position: absolute; */
  position: fixed;
  top: 0.5vw;
  width: 10vw;
  height: 10vw;

  left: 0.5vw;
  /* border: 1px solid #fff; */
}
.logo img {
  width: 100%;
  height: 100%;
}
.navigation {
  display: none;
  position: fixed;
  z-index: 99;
  top: 10vw;
}
.navigation.open {
  display: block;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 100%;
  z-index: 999;
}

.navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 3vw;
  margin-left: 1.5vw;
  /* padding: 0 2px; */
  /* border: 1px solid #fff; */
  z-index: 999;
}

.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
}
/* 행성 아이콘 */
.navigation ul li a img {
  /* position: relative; */
  display: block;
  min-width: 3vw;
  height: 3vw;
  line-height: 7vw;
  transition: 0.5s;
  margin-right: 1vw;
}

/* .navigation ul li.active {
    transform: translateX(5vw);
  }
  .navigation.open ul li.active {
    transform: translateX(10vw);
  } */
#orange {
  color: rgb(239, 91, 11);
}

#purple {
  color: purple;
}

#green {
  color: rgb(142, 231, 142);
}

#blue {
  color: rgb(33, 71, 244);
}

.navigation ul li a .text {
  position: relative;
  padding: 0;
  height: 12vw;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}
#gallery {
  height: 140vmax;
  width: 140vmax;
  position: absolute;
}

.tile {
  border-radius: 1vmax;
  position: absolute;
  transition: transform 800ms ease;
  z-index: 3;
}

.tile:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px #e4e4e4, 0 0 15px #e4e4e4, 0 0 40px #e4e4e4,
    0 0 150px #e4e4e4;
  transition: 1s;
}
/* #e4e4e4 */

.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
}

.tile:hover > video {
  opacity: 1;
  transform: scale(1.01);
  z-index: 1;
}

.tile > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
}

.tile:nth-child(1) {
  /* background-color: rgb(14, 27, 46); */
  background-image: url(./img/star10.png);
  height: 18%;
  width: 20%;
  left: 10%;
  top: 10%;
  background-size: cover;
}

.tile:nth-child(2) {
  /* background-color: #fecd1a; */
  background-image: url(./img/star7.png);
  height: 21%;
  width: 16%;
  left: 42%;
  top: 16%;
  background-size: cover;
}

.tile:nth-child(3) {
  /* background-color: #256d85; */
  background-image: url(./img/star1.png);
  height: 18%;
  width: 20%;
  left: 15%;
  top: 40%;
  background-size: cover;
}

.tile:nth-child(4) {
  /* background-color: #5a5b5c; */
  background-image: url(./img/star9.png);
  height: 14%;
  width: 13%;
  left: 46%;
  top: 48%;
  /* background-size: cover; */
}

.tile:nth-child(5) {
  /* background-color: #495c83; */
  background-image: url(./img/star2.png);
  height: 20%;
  width: 20%;
  left: 15%;
  top: 65%;
  background-size: cover;
}

.tile:nth-child(6) {
  /* background-color: #7a86b6; */
  background-image: url(./img/star3.png);
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
  background-size: cover;
}

.tile:nth-child(7) {
  /* background-color: #a8a4ce; */
  background-image: url(./img/star5.png);
  height: 17%;
  width: 22%;
  left: 50%;
  top: 74%;
  background-size: cover;
}

.tile:nth-child(8) {
  /* background-color: #301b3f; */
  background-image: url(./img/star6.png);
  height: 24%;
  width: 21%;
  left: 72%;
  top: 47%;
  background-size: cover;
}

.tile:nth-child(9) {
  /* background-color: #b4a5a5; */
  background-image: url(./img/star8.png);
  height: 10%;
  width: 11%;
  left: 84%;
  top: 80%;
  background-size: cover;
}

/* .tile:nth-child(1) {
    background-color: rgb(255, 238, 88);
    height: 14%;
    width: 20%;
    left: 10%;
    top: 15%;

  }
  
  .tile:nth-child(2) {
    background-color: rgb(66, 165, 245);
    height: 24%;
    width: 14%;
    left: 42%;
    top: 12%;

  }
  
  .tile:nth-child(3) {
    background-color: rgb(239, 83, 80);
    height: 18%;
    width: 16%;
    left: 12%;
    top: 34%;

  }
  
  .tile:nth-child(4) {
    background-color: rgb(102, 187, 106);
    height: 14%;
    width: 12%;
    left: 45%;
    top: 48%;

  }
  
  .tile:nth-child(5) {
    background-color: rgb(171, 71, 188);
    height: 20%;
    width: 25%;
    left: 8%;
    top: 70%;

  }
  
  .tile:nth-child(6) {
    background-color: rgb(255, 167, 38);
    height: 24%;
    width: 24%;
    left: 68%;
    top: 8%;

  }
  
  .tile:nth-child(7) {
    background-color: rgb(63, 81, 181);
    height: 17%;
    width: 17%;
    left: 55%;
    top: 74%;

  }
  
  .tile:nth-child(8) {
    background-color: rgb(141, 110, 99);
    height: 24%;
    width: 18%;
    left: 72%;
    top: 42%;

  }
  
  .tile:nth-child(9) {
    background-color: rgb(250, 250, 250);
    height: 10%;
    width: 8%;
    left: 84%;
    top: 84%;

  } */

/* -- YouTube Link Styles --
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  } */

/* .wrap {
    position: absolute;
    width: 100vh;
    height: 100vh;
    text-align: right;
    margin-top: 20px;
    z-index: 1;
} */

.spaceman {
  position: absolute;
  width: 6%;
  height: 6%;
  right: 0;
  animation: spaceMan 20s linear 5s infinite;
  z-index: 1;
}

@keyframes spaceMan {
  0% {
    transform: translate(-0vw, 0vw);
  }
  10% {
    transform: translate(-20vw, 10vw);
  }
  30% {
    transform: translate(-40vw, 15vw);
  }
  40% {
    transform: translate(-60vw, 20vw);
  }
  50% {
    transform: translate(-80vw, 30vw);
  }
  60% {
    transform: translate(-60vw, 50vw);
  }
  70% {
    transform: translate(-70vw, 40vw);
  }
  80% {
    transform: translate(-50vw, 60vw);
  }
  90% {
    transform: translate(-25vw, 70vw);
  }
  100% {
    transform: translate(0vw, 50vw);
  }
}

/* .wrap_planet {  
    position: absolute; 
    width: 100vh;
    height: 130vh;
    text-align: left;
    z-index: 1;
} */

.planet2 {
  position: absolute;
  bottom: 20%;
  left: 0px;
  animation: planet 10s linear 0s infinite alternate;
  bottom: 0;
  z-index: 1;
  width: 60vw;
  height: 35vh;
}
@keyframes planet {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.1);
  }
}
